@model IEnumerable<Produk>
@{ 
    ViewData["Title"] = "Index" ;
}
<h2>barang yang kami jual:</h2>

<p>
    <a asp-action="Create">Create new produk</a>
</p>

@foreach (var item in Model)
{
    <ul>
        <li>
            <img src="@item.Link" alt="Bahan" width="200" height="200">
            <a asp-controller="TokoBangunan" asp-action="Details" asp-route-Id="@item.Id">@item.Nama</a>
        </li>
    </ul>
}