@model IEnumerable<Produk>
@{ 
    ViewData["Title"] = "Index" ;
}
<h2>barang yang kami jual:</h2>
@foreach (var item in Model)
{
    <ul>
        <li>
            <img src="" alt="Bahan" width="200" height="300">
            <a asp-controller="TokoBangunan" asp-action="Details" asp-route-Id="@item.Id">@item.Nama</a>
        </li>
    </ul>
}
